page-login {
    .signin-btn
    {
        display: block;
        float: right;
        font: normal 16px/45px Arial,Helvetica,sans-serif;
        margin-left: 1%;
        text-align: center;
        border-radius: 7px;
        text-transform: none;
        width: 100%;
        padding: 22px;
        margin: 34px -5px 0 0;
    }
}
