<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event);">
        <ion-refresher-content 
          pullingText="Pull to refresh"
          pullingIcon="arrow-dropdown"
          refreshingSpinner="circles"
          refreshingText="..fetching">
        </ion-refresher-content>
     </ion-refresher>
    <ion-list *ngFor="let item of dataarr">
        <div [innerHTML]="item.category" align="center" style="font-size:20px;font-weight:bold;"></div>
        <ion-card *ngFor="let subcata of item['subCategory']">
            <ion-item>
                <h2 style="font-size:16px;font-weight:bold;">{{subcata}}</h2>
                
              </ion-item>
              <ion-row>
                  <ion-col>
                    <button ion-button icon-left clear small>
                      
                    </button>
                  </ion-col>
                  <ion-col>
                    <button ion-button icon-left clear small>
                    
                    </button>
                  </ion-col>
                  <ion-col center text-center>
                     <!-- <h3 style="color:#357DB1;" (click)="initiateTest(item.category,subcata)">Take test</h3>-->
                     <h3 style="color:#357DB1;" (click)="getAll(item.category,subcata)">Take test</h3>
                  </ion-col>
                </ion-row>
        
                <ion-row>
                    <ion-col>
                      <button ion-button icon-left clear small>
                        <ion-icon name="ios-hand-outline"></ion-icon>
                        <div style="color:#000;">Beginner</div>
                      </button>
                    </ion-col>
                    <ion-col>
                      <button ion-button icon-left clear small>
                        <ion-icon name="md-alarm"></ion-icon>
                        <div style="color:#000;">5 mins</div>
                      </button>
                    </ion-col>
                    
                  </ion-row>
                
      </ion-card> 
        </ion-list>
</ion-content>
